@import 'color-variables';

$transition-time: 0.4s;

// Colors
// ==========================================================================
$primary-color: color("blue", "darken-3") !default;
$primary-color-light: lighten($primary-color, 15%) !default;
$primary-color-dark: darken($primary-color, 15%) !default;

$secondary-color: color("teal", "lighten-2") !default;
$success-color: color("green", "base") !default;
$error-color: color("red", "darken-3") !default;
//$link-color: color("teal", "darken-1") !default;

$color-info: lighten($primary-color, 15%);
$color-success: color("green", "base");
$color-super-success: color("green", "darken-3");
$color-warning: color("amber", "darken-1");
$color-danger: color("red", "base");
