@import 'config';

.notify
{
  z-index: 10001!important;
  &.notify-top-full {
    width: 100%;
    display: flex;
    justify-content: center;
    pointer-events: none;
    margin-top: 4px;
  }
  div {
    pointer-events: auto;
}
}
.notification {
  padding: 16px 16px !important;
  .alert-icon {
    margin-right: 0.25rem;
  }
  .close {
    float: right;
    font-size: 1.5rem;
    font-weight: 700;
    line-height: 1;
    color: #fff;
    //text-shadow: 0 1px 0 #fff;
    opacity: .75;
    padding: 1rem 1rem;
    margin-left: 1.5rem;
  }
  .close:not(:disabled):not(.disabled):focus, .close:not(:disabled):not(.disabled):hover {
      opacity: 1;
  }
  button.close {
      padding: 0;
      background-color: transparent;
      border: 0;
      appearance: none;
  }
  .close:hover {
      color: #444;
      text-decoration: none;
  }
  [type=button]:not(:disabled), button:not(:disabled) {
      cursor: pointer;
  }
  button {
      text-transform: none;
      margin: 0;
      font-family: inherit;
      font-size: inherit;
      line-height: inherit;
      border-radius: 0;
  }
}

.toaster
{
    color: white;
    padding: 2.4rem;
    text-align: center;
    border-radius: 0.3rem;
    font-weight: 600;
    background: #001730;
    z-index: 10002!important;
    -webkit-box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
    box-shadow: 0 2px 2px 0 rgba(0, 0, 0, 0.14), 0 3px 1px -2px rgba(0, 0, 0, 0.12), 0 1px 5px 0 rgba(0, 0, 0, 0.2);
}

.toaster--warning
{
    @extend .toaster;
    background: $color-warning;
}

.toaster--success
{
    @extend .toaster;
    background: $color-success;
}

.toaster--error
{
    @extend .toaster;
    background: $color-danger;
}
